@font-face {
    font-family: "PT Sans";
    src: url ("ptsans.woff2") format ("woff2"),
        url ("ptsans.woff") format ("woff"),
        url ("ptsansbold.woff2") format ("woff2"),
        url ("ptsansbold.woff") format ("woff");
    font-weight: 400;
    font-style: normal;
}

*{
    outline: 1px solid green; 
}

body {
    margin: 0 auto;
    padding: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 1200px;
}

a{
    text-decoration: none;
}

.main-container{
    margin: 0 auto;
    width: 1200px;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active){
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

/* Меню */

.main-navigation{
    line-height: 26px;
    color: #000000;
    flex-wrap: wrap;
    width: 1056px;
}

.site-navigation,
.user-navigation,
.advantages-1 li,
.advantages-2 li{
    list-style: none;
}

.site-navigation a,
.user-navigation a{
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-header-logo{
    position: absolute;
    left: calc(50% - 69px);     
}

.site-navigation{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 0px;
}

.navigation-section-1{
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    align-self: flex-start;
    margin-right: 48px;
}

.navigation-section-2{
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    width: 480px;
    margin-left: 48px;
}

.navigation-section-1 li{
    width: 240px;
    display: flex;
    flex-wrap: wrap;
}

.navigation-section-2 li{
    width: 240px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.site-navigation a:hover,
.user-navigation a:hover{
    color: rgb(129, 179, 210);
}

.site-navigation a:focus,
.user-navigation a:focus{
    color: rgba(0, 0, 0, 0.302);
}

.search,
.search-caption{
    text-align: center;
}

/* Основной блок */

.background-photo{
    top: 0px;
    z-index: 1;
    margin-top: -56px;
    display: block;
}

.header-section{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

.title{
    position: absolute;
    top: 564px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
}

.title h1{
    font-size: 21px;
    line-height: 26px;
    margin-top: 61px;
    text-align: center;
}

.subtitle-adventages-1{
    margin-bottom: 80px;
    text-align: center;
}

.subtitle-top{
    margin-bottom: 41px;
}

.section-natural-city,
.section-bridge{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 0px;
}

.section-city,
.section-place{
    background-color: #81b3d2;
    width: 400px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.sign{
    font-weight: 400;
    text-align: center;
}

.section-city h2,
.section-place h2{
    text-align: center;
}

.advantages-1 h3,
.advantages-2 h3{
    font-size: 21px;
    text-align: center;
}

.advantages-2{
    background-color: #eeeeee;  
}

.list-advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding-left: 0px;
}

.list-advantages h3{
    margin: 0 auto;
    margin-top: 50px;
}

.sign-advantages-1{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sign-advantages{
    margin: 0 auto;
    margin-bottom: 63px;
}

.section-adventages-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    padding-left: 0px;
    margin: 0 auto;
}

.section-adventages-1 li{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.list-advantages li{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

/* Форма поиска гостиницы */

.background-form{
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-position: left top;
    width: 1200px;
    height: 473px;
}

.search-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    padding-top: 57px;
    padding-bottom: 52px;
    margin: 0 auto;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}


.search-title{
    font-size: 30px;
    line-height: 36px;
    width: 434px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.search-subtitle{
    width: 434px;
    margin: 0 auto;
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.subtitle{
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.search-caption{
    color: #ffffff;
    background-color: #766357;
    font-size: 21px;
    line-height: 26px;

    padding-top: 35px;
    padding-bottom: 33px;
    width: 568px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.search-caption:hover{
    background-color: #604e43;
}

.search-caption:focus{
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.widget input:hover{
    background-color: #ebebeb;
}

.widget input:focus{
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
}

.control a{
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 700; 
    padding: 0px;
    margin: 0 auto;
    width: 12px;
    height: 3px;
}

.control a:hover{
    color: #000000;
}

.control a:focus{
    color: #81b3d2;
}

.search-button{
    background-color: #81b3d2;
    border: none;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;

    width: 458px;
    margin-bottom: 55px;
    padding-top: 15px;
    padding-bottom: 20px;
    align-self: center;

}

.search-button:hover{
    background-color: #669ec0;
}

.search-button:focus{
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.widget{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 568px;
    margin: 0 auto;
    margin-bottom: 78px;

    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
    background-color: #ffffff;
}

.widget input{
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #f2f2f2;
    border: none;
}

.calendar input{
    width: 333px;
    padding-left: 13px;
}

.data-arrival{
    margin-top: 55px;
    margin-bottom: 29px;
}

.data-departure{
    margin-bottom: 30px;
}

.calendar{
    display: flex;
    flex-wrap: wrap;
}

.calendar label{
    width: 112px;
    margin: 0;
    padding-left: 55px;
    align-self: center;
}

.calendar-icon-arrival,
.calendar-icon-departure{
    position: absolute;
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
}

.calendar-icon-arrival:hover path,
.calendar-icon-departure:hover path{
    fill: #000000;
}

.calendar-icon-arrival:focus path,
.calendar-icon-departure:focus path{
    fill: #81b3d2;
}

.calendar-icon-arrival{
    right: 59px;
    top: 58px;
}

.calendar-icon-departure{
    right: 59px;
    top: 114px;
}

.people-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 54px;
    margin-right: 55px;
    width: 513px;
}

.adults-section{
    width: 281px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.control{
    width: 38px;
    padding: 0px;
    margin: 0 auto;
    border: none;
    background-color: #f2f2f2;

}

.people-section input{
    width: 38px;
}

.adults-section label{
    align-self: center;
    width: 112px;
    padding-left: 55px;
}

.adults-button,
.child-button{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 114px;
}

.child-section{
    width: 232px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.child-section label{
    width: 65x;
    align-self: center;
    padding-left: 53px;
}

.child-button input,
.adults-button input{
    text-align: center;
}

/* Футер */

.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
}

.typeface{
    font-size: 21px;
    line-height: 26px;
    color: #000000;

    display: block;
    width: 400px;
    margin: 0px;
    text-align: center;
}

.social{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-list{
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 150px;
}

.social-icon{
    width: 46px;
    min-height: 48px;
    background-color: #81b3d2;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-icon:hover{
    background-color: #669ec0;
}

.social-icon:focus{
    background-color: #5496bd;
}

.social-icon a:focus path{
    fill: rgba(255, 255, 255, 0.3);
}

.social-icon a{
    display: block;
}

.footer-author{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
}

.author{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-right: 8px;
}

.author-logo{
    display: block;
}

.author-logo:hover path{
    fill: #81b3d2;
}

.author-logo:focus path{
    fill: #bdbbbc;
}

/* Страница Гостиницы */

.page-navigation a{
    color: #766357;
}

.list-hotels-1,
.list-hotels-2,
.list-hotels-3{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.section-hotel-1,
.section-hotel-2,
.section-hotel-3{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 72px;
    padding-top: 30px;
    padding-bottom: 30px;

}

a.subtitle-hotel{
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

a.subtitle-hotel:hover{
    color: #81b3d2;
}

a.subtitle-hotel:focus{
    color: rgba(0, 0, 0, 0.3)
}

li.feature-hotel{
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px; 
}

.rating-1,
.rating-2,
.rating-3{
    margin: 0 auto;
    margin-left: 522px;
    display: flex;
    align-content: space-between;
    position: relative;
}

.review-hotel-1,
.review-hotel-2,
.review-hotel-3{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 30px;
    width: 258px;
}

.review-hotel-1 h2,
.review-hotel-2 h2,
.review-hotel-3 h2{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.list-hotels-1,
.list-hotels-2,
.list-hotels-3{
    padding-left: 0px;
    margin: 0px;
    width: 258px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-hotels img{
    padding-top: 30px;
}

.feature-hotel:first-child{
    width: 110px;
}

.feature-hotel:nth-child(2){
    width: 142px;
}

/* Кнопка Подробнее */

.more{
    background-color: #81b3d2;
    color: #ffffff;
    width: 110px;
    margin-right: 6px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.more:hover{
    background-color: #669ec0;
}

.more:focus{
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

/* Кнопка забронировать */

.button-hotel{
    background-color: #766357;
    color: #ffffff;
    width: 142px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.button-hotel:hover{
    background-color: #604e43;
}

.button-hotel:focus{
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

/*------*/

.feature-rating-1,
.feature-rating-2,
.feature-rating-3{
    color: #666666;
    background-color: #f2f2f2;
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 13px;
    padding-left: 16px; 
    align-self: flex-end;
}

/* Форма "Показать гостиницы" на странице Гостиницы */
.search-form{
    background-color: #5496bd;
    color: #ffffff;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
    top: 0px;
    margin-top: -56px;
    display: block;
}

.search-form-hotel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1056px;
    margin: 0 auto;
}

.search-form-hotel fieldset{
    border: none;
    margin-top: 87px;
}

.options-section,
.apartment-section{
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 31px;
}

.options-section{
    margin-right: 14px;
}

.apartment-section{
    margin-right: 230px;
}

.pool-check,
.hotel-check{
    margin-top: 31px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.parking-check,
.wi-fi-check,
.motel-check,
.apartments-check{
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.search-form-hotel input{
    width: 23px;
    height: 23px;
    margin-right: 17px;
}

.search-form-hotel label{
    font-weight: 400;
}

.search-form-hotel legend{
    font-size: 16px;
    line-height: 21px;
}

.cost-section{
    width: 318px;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 32px;
}

.cost-area{
    width: 318px;
}

.number-section{
    border: 2px solid #ffffff;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 314px;
}

input#max-value,
input#min-value{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 0px;
    align-self: center;
    margin-right: 0px;
    margin-left: 6px;
}

.value{
    width: 314px;
    border: 2px solid #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 29px;
}

.vertikal-line{
    width: 2px;
    height: 22px;
    background-color: #ffffff;
    align-self: center;
}

.text-check-1,
.text-check-2{
    font-weight: 400;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-self: center;
}

.contour-white{
    background-color: #ffffff;
    width: 248px;
    height: 2px;
    margin-top: 22px;
}

.contour-grey{
    background-color: rgba(0, 1, 1, 0.2);
    width: 317px;
    height: 2px;
    position: absolute;
}

.button-left,
.button-right{
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;    
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    padding: 2px;
}

.button-left:hover,
.button-right:hover{
    border: 10px solid #ffffff;
}

.radio-section{
    position: relative;
}

.button-right{
    position: absolute;
    right: 60px;
    top: -9px;    
}

.button-left{
    position: absolute;
    left: -10px;
    top: -9px;
}

.submit-show{
    width: 133px;
    border: solid 2px #ffffff;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    color: white;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 35px;
    padding-right: 33px;
    margin-left: 85px;
}

/*-------------*/

/* Сортировка гостиниц */

.assortment{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding-left: 72px;
    padding-top: 31px;
    padding-bottom: 33px;
}

.search-assortment{
    font-size: 21px;
    line-height: 26px;
    margin: 0px;
    width: 135px;
}

.assortment-selection{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin: 0px;
    margin-left: 30px;
    margin-right: 40px;
}

.selections{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.selections li{
    list-style: none;
}

.selections li:first-child,
.selections li:nth-child(2){
    margin-right: 33px;
}

.selections a{
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.selections a:hover{
    border-bottom: 1px dotted #81b3d2;
    color: #81b3d2;
}

.selections a:focus{
    border-bottom: none;
    color: #000000;
}

.focus-selection{
    color: #81b3d2;
    border-bottom: none;
}

/*-------------*/

/*-- Звездочки рейтинга --*/

.feature-rating-1::before{
    content: "";
    background-image: url("../img/star.png");
    background-repeat: space;
    position: absolute;
    width: 89px;
    height: 17px;
    top: 0px;
    right: 0px;
}

.feature-rating-2::before{
    content: "";
    background-image: url("../img/star.png");
    background-repeat: space;
    position: absolute;
    width: 65px;
    height: 17px;
    top: 0px;
    right: 0px;
}

.feature-rating-3::before{
    content: "";
    background-image: url("../img/star.png");
    background-repeat: space;
    position: absolute;
    width: 41px;
    height: 17px;
    top: 0px;
    right: 0px;
}

/*-- Иконки на главной --*/
.assets-icon-1::before{
    content: "";
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 3px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 36px;
    width: 75px;
    height: 74px;
}

.assets-icon-2::before{
    content: "";
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 3px;
    display: block;
    margin: 0 auto;
    margin-top: 62px;
    margin-bottom: 34px;
    width: 74px;
    height: 74px;
}

.assets-icon-3::before{
    content: "";
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 3px;
    display: block;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 36px;
    width: 64px;
    height: 78px;
}


.assets-icon-1,
.assets-icon-2,
.assets-icon-3{
    margin: 0;
}