@font-face {
    font-family: "PT Sans";
    src: url ("ptsans.woff2") format ("woff2"),
        url ("ptsans.woff") format ("woff"),
        url ("ptsansbold.woff2") format ("woff2"),
        url ("ptsansbold.woff") format ("woff");
    font-weight: 400;
    font-style: normal;
}

*{
    outline: 1px solid green; 
}

body {
    margin: 0 auto;
    padding: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 1200px;
}

a{
    text-decoration: none;
}

.main-container{
    margin: 0 auto;
    width: 1200px;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

/* Меню */

.main-navigation{
    line-height: 26px;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    width: 1056px;
}

.user-navigation,
.advantages-1 li,
.advantages-2 li{
    list-style: none;
}

.user-navigation a,
.page-navigation a{
    color: #000000;
    margin-top: 14px;
    margin-bottom: 15px;
}

.main-header-logo{
    position: absolute;
    left: calc(50% - 70px);     
}

.site-navigation-section-1{
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    align-self: flex-start;
    margin: 0;
    margin-right: 48px;
    padding: 0;
}

.site-navigation-section-2{
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    width: 480px;
    margin: 0;
    margin-left: 48px;
    padding: 0;
}

.site-navigation-section-1 li{
    width: 240px;
    display: flex;
    flex-wrap: wrap;
}

.site-navigation-section-2 li{
    width: 240px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; 
}

.user-navigation a:hover{
    color: rgb(129, 179, 210);
}

.user-navigation a:focus{
    color: rgba(0, 0, 0, 0.302);
}

.user-navigation a:active{
    color: #766357;
}

.search,
.search-caption{
    text-align: center;
}

/* Основной блок */

.background-photo{
    margin-top: -56px;
    display: block;
    width: 1200px;
}

.header-section{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

.title{
    position: absolute;
    top: 564px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding-top: 59px;
    padding-bottom: 50px;
}

.title h1{
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    margin-bottom: 28px;
}

.subtitle-top{
    margin: 0;
    text-align: center;
}

.section-natural-city,
.section-bridge{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 0;
}

.section-city,
.section-place{
    background-color: #81b3d2;
    width: 304px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 46px;
    padding-bottom: 40px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.sign{
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-top: 7px;
}

.sign-subtitle{
    margin-top: 27px;
}

.section-city h2{
    text-align: center;
    margin: 0;
    width: 100%;
}

.section-place h2{
    text-align: center;
    margin: 0;
    width: 100%;
}

.picture-1,
.picture-2{
    width: 800px;
    min-height: 256px;
}

.advantages-1 h3,
.advantages-2 h3{
    font-size: 21px;
    text-align: center;
    display: block;
    overflow: hidden;
}

.advantages-2{
    background-color: #eeeeee;  
}

.list-advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding-left: 0;
}

.list-advantages h3{
    margin: 0 auto;
    margin-top: 47px;
}

.sign-advantages-1{
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 22px;
}

.sign-advantages{
    margin: 0 auto;
    margin-bottom: 63px;
    flex-grow: 1;
}

.section-adventages-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 1200px;
    padding-left: 0;
    margin: 0 auto;
}

.section-adventages-1 li{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.list-advantages li{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

/* Форма поиска гостиницы */

.background-form{
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-position: left top;
    width: 1200px;
    height: 473px;

    display: none;
}

.modal-show{
    display: block;
}

.search-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    padding-top: 47px;
    padding-bottom: 47px;
    margin: 0 auto;
}

.search-caption-title{
    margin: 0;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 436px;
}


.search-title{
    font-size: 30px;
    line-height: 36px;
    width: 436px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.search-subtitle{
    width: 436px;
    margin: 0 auto;
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.subtitle{
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.subtitle-adventages-1{
    margin-bottom: 83px;
    margin-top: 25px;
    text-align: center;
    line-height: 21px;
    flex-grow: 1;
}

.search-caption{
    color: #ffffff;
    background-color: #766357;
    font-size: 21px;
    line-height: 26px;

    padding-top: 29px;
    padding-bottom: 30px;
    width: 568px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.search-caption:hover{
    background-color: #604e43;
}

.search-caption:focus{
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.widget input:hover{
    background-color: #ebebeb;
}

.widget input:focus{
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
}

.widget input[type="text"]::placeholder {color: #000000;}
.widget input[type="text"]::-webkit-input-placeholder {color: #000000;}
.widget input[type="text"]:-ms-input-placeholder {color: #000000;}
.widget input[type="text"]::-ms-input-placeholder {color: #000000;}
.widget input[type="text"]::-moz-placeholder {color: #000000;}

.control{
    color: #a9a9a9;
    background-color: #f2f2f2;
    border: none;
    font-size: 21px;
    font-weight: 900; 
    width: 38px;
    padding: 0;
    padding-top: 6px;
    margin: 0 auto;
}

.control:hover{
    color: #000000;
}

.control:focus{
    color: #81b3d2;
}

.search-button{
    background-color: #81b3d2;
    border: none;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;

    width: 458px;
    margin-bottom: 55px;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;

    word-break: break-all;

}

.search-button:hover{
    background-color: #669ec0;
}

.search-button:focus{
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.widget{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 568px;
    margin: 0 auto;
    margin-bottom: 78px;

    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
    background-color: #ffffff;
}

.widget input{
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #f2f2f2;
    border: none;
}

.calendar input{
    width: 333px;
    padding-left: 12px;
    padding-top: 6px;
}

.data-arrival{
    margin-top: 55px;
    margin-bottom: 34px;
}

.data-departure{
    margin-bottom: 34px;
}

.calendar{
    display: flex;
    flex-wrap: wrap;
}

.calendar label{
    width: 112px;
    margin: 0;
    padding-left: 56px;
    padding-top: 6px;
    align-self: center;
}

.calendar-icon-arrival,
.calendar-icon-departure{
    position: absolute;
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
}

.calendar-icon-arrival:hover path,
.calendar-icon-departure:hover path{
    fill: #000000;
}

.calendar-icon-arrival:focus path,
.calendar-icon-departure:focus path{
    fill: #81b3d2;
}

.calendar-icon-arrival{
    right: 64px;
    top: 61px;
}

.calendar-icon-departure{
    right: 64px;
    top: 128px;
}

.people-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-left: 55px;
    width: 458px;
}

.adults-section{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.people-section input{
    width: 38px;
    padding-top: 6px;
}

.adults-section label{
    align-self: center;
    padding-top: 6px;
}

.adults-button,
.child-button{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 118px;
}

.child-section{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.child-section label{
    align-self: center;
    padding-left: 53px;
    padding-top: 6px;
}

.child-button input,
.adults-button input{
    text-align: center;
    padding-top: 6px;
    padding-right: 0;
    padding-left: 0;
    width: 38px;
}

/* Футер */

.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}

.typeface{
    font-size: 21px;
    line-height: 26px;
    color: #000000;

    display: block;
    width: 400px;
    margin: 0;
    text-align: center;
    word-break: break-all;
}

.social{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 36px;
    padding-bottom: 35px;
    width: 150px;
}

.social-icon{
    width: 46px;
    min-height: 48px;
    background-color: #81b3d2;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-icon:hover{
    background-color: #669ec0;
}

.social-icon:focus{
    background-color: #5496bd;
}

.social-icon a:focus path{
    fill: rgba(255, 255, 255, 0.3);
}

.social-icon a{
    display: block;
}

.footer-author{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
}

.author{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-right: 8px;
}

.author-logo{
    display: block;
    padding-top: 5px;
}

.author-logo:hover path{
    fill: #81b3d2;
}

.author-logo:focus path{
    fill: #bdbbbc;
}

/* Страница Гостиницы */

.page-navigation a{
    color: #766357;
}

.list-hotels-1,
.list-hotels-2,
.list-hotels-3{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2px;
    padding-left: 0;
    width: 258px;
} 

.section-hotel-1,
.section-hotel-2,
.section-hotel-3{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 1055px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 72px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-hotel-1 img,
.section-hotel-2 img,
.section-hotel-3 img{
    width: 135px;
    height: 90px;
}

.subtitle-hotel h2{
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.subtitle-hotel h2:hover{
    color: #81b3d2;
}

.subtitle-hotel h2:active{
    color: rgba(0, 0, 0, 0.3)
}

.subtitle-hotel{
    margin-bottom: 6px;
    margin-top: -6px;
}

.feature-hotel{
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px; 
    word-break: break-all;
}

.rating-1,
.rating-2,
.rating-3{
    display: flex;
    align-content: space-between;
    position: relative;
    margin-left: auto;
}

.review-hotel-1,
.review-hotel-2,
.review-hotel-3{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 30px;
    width: 258px;
}

.review-hotel-1 h2,
.review-hotel-2 h2,
.review-hotel-3 h2{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.section-hotels img{
    padding-top: 30px;
}

.feature-hotel:first-child{
    width: 109px;
}

.feature-hotel:nth-child(2){
    width: 142px;
}

/* Кнопка Подробнее */

.more{
    background-color: #81b3d2;
    color: #ffffff;
    width: 109px;
    margin-right: 7px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    word-break: break-all;
}

.more:hover{
    background-color: #669ec0;
}

.more:focus{
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

/* Кнопка забронировать */

.button-hotel{
    background-color: #766357;
    color: #ffffff;
    width: 142px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    word-break: break-all;
}

.button-hotel:hover{
    background-color: #604e43;
}

.button-hotel:focus{
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

/*------*/

.feature-rating-1,
.feature-rating-2,
.feature-rating-3{
    color: #666666;
    background-color: #f2f2f2;
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 13px;
    padding-left: 16px; 
    align-self: flex-end;
}

/* Форма "Показать гостиницы" на странице Гостиницы */
.search-form{
    background-color: #5496bd;
    color: #ffffff;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
    top: 0;
    margin-top: -56px;
    display: block;
}

.search-form-hotel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1056px;
    margin: 0 auto;
}

.search-form-hotel fieldset{
    border: none;
    margin-top: 84px;
}

.search-form-hotel label{
    word-break: break-all;
}

.options-section,
.apartment-section{
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 0;
    margin: 0;
    margin-bottom: 31px;
}

.apartment-section{
    margin-right: 230px;
}

.pool-check,
.hotel-check{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.parking-check,
.wi-fi-check,
.motel-check,
.apartments-check{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.search-form-hotel label{
    font-weight: 400;
}

.search-form-hotel legend{
    font-size: 16px;
    line-height: 21px;
}

.cost-section{
    width: 318px;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 32px;
}

.cost-section legend{
    margin-left: 2px;
}

.cost-area{
    width: 318px;
}

.number-section{
    border: 2px solid #ffffff;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 314px;
}

input#max-value,
input#min-value{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 0;
    align-self: center;
    margin-right: 0;
    margin-left: 4px;
    width: 50px;
}

.value{
    width: 314px;
    border: 2px solid #ffffff;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.vertikal-line{
    width: 2px;
    height: 22px;
    background-color: #ffffff;
    align-self: center;
    position: absolute;
    left: 50%;
}

.text-check-1{
    font-weight: 400;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-left: 64px;
}

.text-check-2{
    font-weight: 400;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-left: 47px;
}

.contour-white{
    background-color: #ffffff;
    width: 255px;
    height: 2px;
    margin-top: 22px;
}

.contour-grey{
    background-color: rgba(0, 1, 1, 0.2);
    width: 317px;
    height: 2px;
    position: absolute;
}

.button-left,
.button-right{
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;    
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    padding: 2px;
}

.button-left:hover,
.button-right:hover{
    border: 10px solid #ffffff;
}

.radio-section{
    position: relative;
}

.button-right{
    position: absolute;
    right: 46px;
    top: -9px;    
}

.button-left{
    position: absolute;
    left: 0;
    top: -9px;
}

.submit-show{
    width: 138px;
    border: solid 2px #ffffff;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 84px;
    word-break: break-all;
}

.submit-show:hover{
    color: #000000;
    background-color: #ffffff;
}

.submit-show:focus{
    color: #000000;
    background-color: #ffffff;
}

/*-------------*/

/* Сортировка гостиниц */

.assortment{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1055px;
    padding-left: 72px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.selection-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}

.search-assortment{
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    width: 135px;
}

.assortment-selection{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
    margin-left: 29px;
    padding-top: 7px;
    width: 80px;
}

.selections{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.selections li{
    list-style: none;
}

.selections li{
    margin-left: 34px;
}

.selections a{
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    text-decoration: none;
    display: block;
    margin-top: 7px;
}

.selections a:hover{
    border-bottom: 1px dotted #81b3d2;
    color: #81b3d2;
}

.selections a:focus{
    border-bottom: none;
    color: #000000;
}

.focus-selection a{
    color: #81b3d2;
    border-bottom: none;
}

/*-- Иконки сортировки (треугольники) --*/

.formation{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 34px;
    margin: 0;
    padding: 0;
}

.formation-item path{
    fill: #cacaca;
}

.formation-item{
    padding-top: 6px;
}

.down-active path{
    fill: #81b3d2;
}

.formation-item:hover path{
    fill: #000000;
}

.formation-item:active path{
    fill: #81b3d2;
}

.formation-item:focus path{
    fill: #81b3d2;
}

/*-- Звездочки рейтинга --*/

.feature-rating-1::before{
    content: "";
    background-image: url("../img/star.png");
    background-repeat: space;
    position: absolute;
    width: 89px;
    height: 17px;
    top: 0;
    right: 0;
}

.feature-rating-2::before{
    content: "";
    background-image: url("../img/star.png");
    background-repeat: space;
    position: absolute;
    width: 65px;
    height: 17px;
    top: 0;
    right: 0;
}

.feature-rating-3::before{
    content: "";
    background-image: url("../img/star.png");
    background-repeat: space;
    position: absolute;
    width: 41px;
    height: 17px;
    top: 0;
    right: 0;
}

/*-- Иконки на главной --*/
.assets-icon-1::before{
    content: "";
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 2px;
    display: block;
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 30px;
    width: 75px;
    height: 74px;
}

.assets-icon-2::before{
    content: "";
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 2px;
    display: block;
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 30px;
    width: 74px;
    height: 74px;
}

.assets-icon-3::before{
    content: "";
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 2px;
    display: block;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 29px;
    width: 64px;
    height: 78px;
}


.assets-icon-1,
.assets-icon-2,
.assets-icon-3{
    margin: 0;
}

/*-- ОФормление чекбоксов в форме --*/

.check-list-1 input[type=checkbox] + label::before,
.check-list-2 input[type=checkbox] + label::before,
.check-list-1 input[type=checkbox]:active + label::before,
.check-list-2 input[type=checkbox]:active + label::before{
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    top: 0;
    left: 0;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

.check-list-1 input[type=checkbox]:checked + label::after,
.check-list-2 input[type=checkbox]:checked + label::after,
.check-list-1 input[type=checkbox]:checked:active + label::after,
.check-list-2 input[type=checkbox]:checked:active + label::after{
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    top: 0;
    left: 0;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

.check-list-1 input[type=checkbox]:checked:disabled + label::after,
.check-list-2 input[type=checkbox]:checked:disabled + label::after{
    background-image: url("../img/checkbox-on-2.png");
    background-repeat: no-repeat;
    background-position: 0 0;   
}

.check-list-1 input[type=checkbox]:checked:disabled + label::before,
.check-list-2 input[type=checkbox]:checked:disabled + label::before{
    display: none;   
}

.check-list-1 input[type=checkbox]:disabled + label::before,
.check-list-2 input[type=checkbox]:disabled + label::before{
    background-image: url("../img/checkbox-off-3.png");
    background-repeat: no-repeat;
    background-position: 0 0;   
}


.check-list-1 label{
    margin-left: 39px;
}

.check-list-2 label{
    margin-left: 42px;
}

.check-list-1,
.check-list-2{
    list-style: none;
    padding: 0;
    margin: 0;
}

.check-list-1 li,
.check-list-2 li{
    position: relative;
}

.pool-check:hover,
.parking-check:hover,
.wi-fi-check:hover,
.hotel-check:hover,
.motel-check:hover,
.apartments-check:hover{
    outline: 2px solid green;
}

/*-- Анимация формы на главной --*/
@keyframes shake{
    0%,
    100%{
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90%{
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80%{
        transform: translateX(10px);
    }
}

.modal-error{
    animation: shake 0.6s;
}
